  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

  body {
      font-family: 'Lato', sans-serif;
      font-size: 18px;
  }

  img {
    display: block;
    width: 75%;
  }

  main {
      width: 620px;
      margin: auto;
  }

  section p {
      font-weight: 400;
      margin: auto;
  }

  .section-title {
    padding: 5%;
    width: 75%;
  }

  header {
      width: 620px;
      margin: auto;
      padding: 2em 0 2em 0;
  }

  h1 {
      font-size: 36px;
      font-weight: 900;
      width: 50%;
      color: floralwhite;
  }

  h2 {
      font-size: 24px;
      color: #ef5839;
  }

  h1,h2 {
    font-weight: bold;
    width: 75%;
  }

  /* Buttons */
  a.button {
      text-decoration: none;
  }

  header,
  .section-description {
      background-color: #2e354f;
  }